:root {
  --main-blue: #3d5e8c;
}

body {
  height: 100vh;
  /* width: 100vw; */
  background-color: white;
  color: var(--main-blue);
  font-family: Arial, sans-serif;
  font-size: 30pt;
  margin: 0;
  padding: 1em;
}
html,
body {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.container_left {
  height: 90vh;
  width: 90vh;
  border: 1em outset var(--main-blue);
  box-shadow: black 0px 0px 10px;
}

.container_right {
  width: 30%;
}

.quote {
  text-align: center;
  color: var(--main-blue);
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--main-blue);
}
.quote a:hover {
  color: white;
}

.wrapper_right {
  position: absolute;
  padding: 0 1em;
}

.wrapper_right * {
  font-size: 1em;
}

a {
  font-size: 0.7em;
}

#button {
  text-align: center;
  margin-top: 1em;
}
#next {
  background: var(--main-blue);
  color: white;
  padding: 0.3em;
  text-decoration: none;
  border: 2px solid var(--main-blue);
  border-radius: 0.2em;
}
#next:hover {
  background: white;
  color: var(--main-blue);
}

a,
a:visited,
a:active {
  color: var(--main-blue);
}

@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }
  .container_left {
    width: 100%;
    height: calc(100vw - 2em);
  }
  .container_right {
    width: 100%;
  }
  body {
    font-size: 14pt;
  }
  .quote a {
    font-size: 10vw;
  }
}
